<template>
    <div class="hochwacht-footer">
        <div class="container">
            <div class="content has-text-centered">
                <span style="font-size: 12px">
                    <strong
                        >Copyright &copy; {{ year }}
                        <a target="_blank" href="http://deluo.markmarolf.com">deluo.markmarolf.com</a></strong
                    >
                    All rights reserved.<br />
                    <strong>Version</strong> 0.0.1 - Implemented by
                    <b><a target="_blank" href="https://markmarolf.com">Mark Marolf</a></b
                    ><br />
                    <!-- <a href="#/auth/privacy"><b>Datenschutzbestimmungen</b></a> -->
                </span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import moment from 'moment';

@Component({
    components: {},
})
export default class Footer extends Vue {
    private year: number = 2019;

    private mounted() {
        this.year = moment().year();
    }
}
</script>

<style scoped lang="scss">
.hochwacht-footer {
    background-color: white;
    height: 50px;
    margin: 15px 20px;
}
</style>
