<template>
    <div>
        <nav
            id="nav"
            class="navbar is-fixed-top is-transparent"
            role="navigation"
            aria-label="main navigation"
            style="border-bottom: 1px solid #CCC; padding: 0px 5px;"
        >
            <div class="navbar-brand">

            </div>

            <div id="navbarMenu" :class="'navbar-menu ' + isActive">

            </div>
        </nav>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component({
    components: {},
})
export default class Navbar extends Vue {
    @Getter('account/isAdmin') private isAdmin;
    @Getter('account/loggedIn') private loggedIn;
    @Getter('account/currentUser') private currentUser;

    private isActive: string = '';

    private toggleNavBar() {
        // console.log('toggling navbar');
        if (this.isActive === 'is-active') {
            this.isActive = '';
        } else {
            this.isActive = 'is-active';
        }
    }

    private hideMenu() {
        const self = this;
        setTimeout(function() {
            self.isActive = '';
        }, 100);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.navbar-menu.is-active {
    padding-left: 5%;
    padding-right: 5%;
}
</style>
