<template>
    <div id="app">
        <div class="hochwacht-wrapper">
            <Navbar class="navbar" />
            <router-view/>
        </div>
        <Footer />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Footer from '@/components/Footer.vue';
import Navbar from '@/components/Navbar.vue';
import { ConsoleHelper } from './helpers/ConsoleHelper';
import { userWebservice } from '@/webservices/user';

@Component({
    components: {
        Footer,
        Navbar,
    },
})
export default class App extends Vue {
    private consoleHelper: ConsoleHelper = new ConsoleHelper();

    private mounted() {
        this.consoleHelper.printMsg();

        userWebservice.getUserInfo().then((getUserInfoResponse) => {
            this.$store.commit('account/setCurrentUser', getUserInfoResponse.data);
        });
    }
}
</script>

<style lang="scss">
#app {
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Arial', sans-serif;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: black;
}
.hochwacht-wrapper {
    min-height: calc(100vh - (80px + 0rem));
    // padding: 0.5rem;
    padding: 1rem 1rem;
    font-family: 'Roboto', sans-serif !important;
}
</style>
