// vue-simple-calendar Custom CSS
// .cv-wrapper {
//     // sdadfs
// }
.cv-header {
    font-size: 1.1em !important;
    line-height: 1.2em !important;
}
.cv-header .cv-header-nav button{
    background-color: #fff !important;
}
.cv-week {
    height: 150px !important;
    min-height: 150px !important;
    height: 100%;
}
.cv-day {
    height: 150px !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.cv-day-number {
    left: 0;
    padding: .3em !important;
}
.eventBubble{
    padding-top: 5px;
}
.normalEvent {
    height: 25px;
    background-color: #f2f2f2 !important;
    color: black;
}
.biberEvent{
    height: 25px;
    background-color: #7aadff !important;
    color: black;
}
.woelfliEvent{
    height: 25px;
    background-color: #a5ffbc !important;
    color: black;
}
.pfaderEvent{
    height: 25px;
    background-color: #ff5e5e !important;
    color: black;
}
.piosEvent{
    height: 25px;
    background-color: #ffae75 !important;
    color: black;
}
.leiterEvent{
    height: 25px;
    background-color: #c896ff !important;
    color: black !important; 
}